@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 15; /* Gelap Premium */
  --background-end-rgb: 20, 20, 25;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at top left, #1e1b4b, #000000);
  min-height: 100vh;
}

/* Efek Glow di belakang */
.glow-bg {
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(59,130,246,0.15) 0%, rgba(0,0,0,0) 70%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 0;
}